Repository rilldata/rill, pull requests merged in 2024-02, with the labels that each got.

#3962 Fix logo color when no gradient
  web-common/src/components/icons/RillLogoSquareNegative.svelte
Labels: Type:Bug

#3965 Add reference for missing tailwind color
  web-common/src/features/dashboards/config.ts
Labels: Type:Bug

#4054 Cloud UI: fix `rill sudo user open`
  web-admin/src/features/authentication/AuthRedirect.svelte
  web-admin/src/features/authentication/AvatarButton.svelte
  web-admin/src/features/navigation/Breadcrumbs.svelte
  web-admin/src/features/organizations/active-org/OrganizationRedirect.svelte
  web-admin/src/features/organizations/active-org/local-storage.ts
  web-admin/src/features/organizations/activeOrg.ts
  web-admin/src/routes/+page.svelte
Labels: Type:Bug, blocker

#4055 Fix layout on `/-/auth/device` page
  web-admin/src/routes/-/auth/device/+page.svelte
Labels: Type:Bug

#4046 Filter null columns from pivot table
  web-common/src/features/dashboards/pivot/PivotTable.svelte
  web-common/src/features/dashboards/pivot/pivot-column-definition.ts
  web-common/src/features/dashboards/pivot/pivot-data-store.ts
  web-common/src/features/dashboards/pivot/pivot-expansion.ts
  web-common/src/features/dashboards/pivot/pivot-infinite-scroll.ts
  web-common/src/features/dashboards/pivot/pivot-queries.ts
  web-common/src/features/dashboards/pivot/pivot-table-transformations.ts
  web-common/src/features/dashboards/pivot/pivot-utils.ts
  web-common/src/features/dashboards/pivot/tests/pivot-utilts.test.ts
  web-common/src/features/dashboards/pivot/types.ts
Labels: Area:Pivot

#4060 Fix issues with mv agg query
  runtime/queries/metricsview_aggregation.go
Labels: Area:Pivot

#4061 Swap pivot rows and columns in pivot header
  web-common/src/features/dashboards/pivot/DragList.svelte
  web-common/src/features/dashboards/pivot/PivotHeader.svelte
Labels: Area:Pivot

#4067 Fix: Add label for empty string in column header
  web-common/src/features/dashboards/pivot/PivotExpandableCell.svelte
  web-common/src/features/dashboards/pivot/pivot-column-definition.ts
Labels: Area:Pivot

#4068 Update Empty Pivot component to match mocks
  web-common/src/features/dashboards/pivot/PivotEmpty.svelte
Labels: Area:Pivot

#4071 Enable fetching state for larger dashboards
  web-common/src/features/dashboards/pivot/pivot-data-store.ts
Labels: Area:Pivot

#4072 Send all relevant measures to dimension display query
  web-common/src/features/dashboards/state-managers/selectors/dashboard-queries.ts
Labels: blocker

#4073 Remove pivot field filtering based on dashboard visibility
  web-common/src/features/dashboards/state-managers/selectors/pivot.ts
Labels: blocker, Area:Pivot

#4074 Filter time grain options in pivot sidebar based on table state
  web-common/src/features/dashboards/pivot/DragList.svelte
  web-common/src/features/dashboards/pivot/PivotDrag.svelte
  web-common/src/features/dashboards/pivot/PivotSidebar.svelte
Labels: blocker, Area:Pivot

#4027 Rill Developer: add UI for external tables
  web-common/src/features/metrics-views/metrics-internal-store.ts
  web-common/src/features/metrics-views/utils.ts
  web-common/src/features/metrics-views/workspace/editor/Placeholder.svelte
  web-common/src/features/metrics-views/workspace/inspector/MetricsInspector.svelte
  web-common/src/features/models/createDashboardFromModel.ts
  web-common/src/features/onboarding/OnboardingWorkspace.svelte
  web-common/src/features/sources/createDashboard.ts
  web-common/src/features/sources/navigation/SourceAssets.svelte
  web-common/src/features/tables/TableAssets.svelte
  web-common/src/features/tables/TableMenuItems.svelte
  web-common/src/features/tables/TableWorkspaceHeader.svelte
  web-common/src/features/tables/config.ts
  web-common/src/features/tables/createDashboardFromTable.ts
  web-common/src/features/tables/selectors.ts
  web-common/src/features/welcome/WelcomePageRedirect.svelte
  web-common/src/layout/navigation/Navigation.svelte
  web-common/src/metrics/service/MetricsTypes.ts
  web-local/src/routes/(application)/table/+page.ts
  web-local/src/routes/(application)/table/[name]/+page.svelte
  web-local/tests/dashboards/dashboards.spec.ts
  web-local/tests/dashboards/leaderboard-context-column.spec.ts
  web-local/tests/dashboards/metrics-editor.spec.ts
Labels: blocker

#4076 Update pivot sidebar layout mechanism
  web-common/src/features/dashboards/pivot/PivotDrag.svelte
  web-common/src/features/dashboards/pivot/PivotSidebar.svelte
Labels: blocker, Area:Pivot

#4059 Add row based virtualization to pivot table
  web-common/src/features/dashboards/pivot/PivotTable.svelte
Labels: blocker, Area:Pivot

#4087 Fix blank welcome screen
  web-common/src/features/welcome/WelcomePageRedirect.svelte
Labels: Type:Bug, blocker

#4082 Fix invalid fetching state
  web-common/src/features/dashboards/pivot/pivot-data-store.ts
Labels: blocker, Area:Pivot

#4064 Rill Developer: generate dashboards with AI
  web-common/src/features/metrics-views/ai-generation/OptionToCancelAIGeneration.svelte
  web-common/src/features/metrics-views/ai-generation/generateMetricsView.ts
  web-common/src/features/metrics-views/workspace/editor/Placeholder.svelte
  web-common/src/features/models/createDashboardFromModel.ts
  web-common/src/features/models/navigation/ModelMenuItems.svelte
  web-common/src/features/models/workspace/CreateDashboardButton.svelte
  web-common/src/features/sources/createDashboard.ts
  web-common/src/features/sources/modal/SourceImportedModal.svelte
  web-common/src/features/sources/navigation/SourceMenuItems.svelte
  web-common/src/layout/BlockingOverlayContainer.svelte
  web-common/src/layout/RillDeveloperLayout.svelte
  web-common/src/layout/overlay-store.ts
  web-local/tests/dashboards/dimension-and-measure-selection.spec.ts
  web-local/tests/utils/dashboardHelpers.ts
Labels: blocker

#4090 Fix two bugs in Tables list
  web-common/src/features/entity-management/resource-invalidations.ts
  web-common/src/features/tables/TableAssets.svelte
Labels: blocker

#4094 Rill Developer: Generate dashboard with AI (Tables)
  web-common/src/features/tables/TableMenuItems.svelte
  web-common/src/features/tables/TableWorkspaceHeader.svelte
  web-common/src/features/tables/createDashboardFromTable.ts
Labels: blocker

#4095 Fix Welcome page navigation bugs
  web-common/src/features/welcome/ProjectCards.svelte
  web-common/src/layout/BasicLayout.svelte
Labels: blocker

#4100 Druid TableRows request
  runtime/queries/table_columns.go
  runtime/queries/table_head.go
Labels: blocker

#4098 Fix: Support all non string headers
  web-common/src/features/dashboards/pivot/pivot-column-definition.ts
Labels: blocker, Area:Pivot

#4101 Fix: Remove tooltip from Pivot chips
  web-common/src/components/chip/core/Chip.svelte
  web-common/src/components/chip/core/RemoveChipButton.svelte
  web-common/src/features/dashboards/pivot/PivotChip.svelte
Labels: blocker, Area:Pivot

#4103 Runtime: validate measures do not contain a window function
  runtime/validate.go
  runtime/validate_test.go
Labels: blocker

#4062 Integrate measure row filters to pivot
  web-common/src/features/dashboards/pivot/pivot-data-store.ts
  web-common/src/features/dashboards/pivot/pivot-expansion.ts
  web-common/src/features/dashboards/pivot/pivot-queries.ts
  web-common/src/features/dashboards/pivot/pivot-utils.ts
Labels: Area:Pivot

#4102 Fix: Scroll to previous position in the table on expansion
  web-common/src/features/dashboards/pivot/PivotTable.svelte
Labels: blocker, Area:Pivot

#4121 Add CSP to allow static UI assets to be embedded anywhere
  netlify.toml
Labels: blocker

#4106 Reduce join query fetch limit
  web-common/src/features/dashboards/pivot/pivot-infinite-scroll.ts
  web-common/src/features/dashboards/pivot/pivot-queries.ts
Labels: blocker, Area:Pivot

#4126 Update styling for tables without row dimensions
  web-common/src/features/dashboards/pivot/PivotTable.svelte
Labels: Area:Pivot

#4137 Resolve pivot sidebar layout edge cases
  web-common/src/features/dashboards/pivot/PivotDrag.svelte
  web-common/src/features/dashboards/pivot/PivotSidebar.svelte
Labels: Area:Pivot

#4147 Make a couple items in the Alert form optional
  web-common/src/components/forms/Select.svelte
  web-common/src/features/alerts/data-tab/AlertDialogDataTab.svelte
Labels: Area:Alerts

#4145 Enable custom themes for embedded dashboards
  web-admin/src/routes/-/embed/+page.svelte
Labels: customer

#4155 Revert Leaderboard/BigNumber header color to slate-600
  web-common/src/app.css
  web-common/src/features/dashboards/big-number/MeasureBigNumber.svelte
  web-common/src/features/dashboards/leaderboard/LeaderboardHeader.svelte
Labels: blocker

#4157 Add ClickHouse instructions to Add Source dialog
  runtime/drivers/clickhouse/clickhouse.go
  web-common/src/components/code-block/CodeBlock.svelte
  web-common/src/components/icons/connectors/ClickHouse.svelte
  web-common/src/features/onboarding/OnboardingWorkspace.svelte
  web-common/src/features/sources/modal/AddSourceModal.svelte
  web-common/src/features/sources/modal/ClickHouseInstructions.svelte
Labels: patch

#4158 Add feature flag to enable the Data Viewer in Rill Cloud
  web-common/src/features/dashboards/workspace/Dashboard.svelte
  web-common/src/features/feature-flags.ts
Labels: patch

#4159 Restrict width of the first column
  web-common/src/features/dashboards/pivot/PivotExpandableCell.svelte
  web-common/src/features/dashboards/pivot/PivotTable.svelte
Labels: patch

#4139 Add "Edit Alert" dialog
  web-admin/src/features/alerts/metadata/AlertFilterCriteria.svelte
  web-admin/src/features/alerts/metadata/AlertFilters.svelte
  web-admin/src/features/alerts/metadata/AlertMetadata.svelte
  web-common/src/features/alerts/AlertDataPreview.svelte
  web-common/src/features/alerts/BaseAlertForm.svelte
  web-common/src/features/alerts/CreateAlertDialog.svelte
  web-common/src/features/alerts/EditAlertDialog.svelte
  web-common/src/features/alerts/alert-preview-data.ts
  web-common/src/features/alerts/criteria-tab/AlertDialogCriteriaTab.svelte
  web-common/src/features/alerts/criteria-tab/CriteriaForm.svelte
  web-common/src/features/alerts/data-tab/AlertDialogDataTab.svelte
  web-common/src/features/alerts/data-tab/NoFiltersSelected.svelte
  web-common/src/features/alerts/delivery-tab/snooze.ts
  web-common/src/features/alerts/extract-alert-form-values.ts
  web-common/src/features/alerts/form-utils.ts
  web-common/src/features/dashboards/filters/FilterChips.svelte
  web-common/src/features/dashboards/filters/FilterChipsReadOnly.svelte
  web-common/src/features/dashboards/filters/Filters.svelte
  web-common/src/features/dashboards/filters/dimension-filters/DimensionFilter.svelte
  web-common/src/features/dashboards/filters/measure-filters/MeasureFilter.svelte
  web-common/src/features/dashboards/filters/measure-filters/MeasureFilterReadOnlyChip.svelte
Labels: Area:Alerts

#4195 Improve Alert History table
  runtime/queries/metricsview.go
  web-admin/src/features/alerts/history/AlertHistoryStatusChip.svelte
  web-admin/src/features/alerts/history/AlertHistoryTable.svelte
  web-admin/src/features/alerts/history/AlertHistoryTableCompositeCell.svelte
  web-common/src/components/tag/Tag.svelte
Labels: Area:Alerts
